<div class="add-media-modal">
  <AdvancedModal>
    <h2>Add Media</h2>
    <div class="media-types">
      {#each medias as media (media.id)}
      <div class="media-type">
        <div class="media-check">
          <Checkmark on:change|preventDefault="setChecked(media.kind, media.id, event)"
                     checked={sharing.includes(media.id)} />
        </div>
        <div class="media-icon">
          {#if media.kind == "audio"}
          <MicrophoneIcon />
          {:elseif media.kind == "video"}
          <CameraIcon />
          {:elseif media.kind == "screenshare"}
          <ScreenIcon />
          {/if}
        </div>
        <div class="media-name">
          {media.label || `Unnamed ${media.kind} Device`}
        </div>
      </div>
      {/each}
    </div>

    <div class="media-footer">
      <div class="shreenshare foot">
        <Button on:click="setScreenshareModal(native, modalContext)"
                shrink=true
                text="Screenshare" />
      </div>
      {#if !native}
      <div class="audioshare foot">
        <Button on:click="screenShare('audio')"
                shrink=true
                text="Audio share" />
      </div>
      {/if}
    </div>
  </AdvancedModal>
</div>

<script>
  import ScreenshareModal from "./ScreenshareModal.svelte";
  import {clients} from "../../js/MediaClient";
  import {isNative} from "../../js/Native";
  
  export default {
    data() {
      return {
        native: isNative,
        medias: [],
        sharing: []
        // sharing: Array.from(mediaClient._tracks.keys())
      };
    },
    components: {
      AdvancedModal: "./AdvancedModal.svelte",
      Checkmark: "../forms/Checkmark.svelte",
      Button: "../forms/Button.svelte",
      MicrophoneIcon: "../icons/MicrophoneIcon.svelte",
      ScreenIcon: "../icons/ScreenIcon.svelte",
      CameraIcon: "../icons/CameraIcon.svelte"
    },
    oncreate() {
      let {medias, modalContext} = this.get();
      this._mediaClient = clients.get(modalContext.channelId);
      this.calculateSharing();
      navigator.mediaDevices.enumerateDevices().then(mediaDevices => {
        for (const media of mediaDevices) {
          if (media.kind.endsWith("input")) {
            medias.push({
              id: media.deviceId,
              label: media.label,
              kind: media.kind.slice(0, -5)
            });
          }
        }
        console.log(medias);
        this.set({medias});
      });
      medias = medias.concat(
        Array.from(this._mediaClient._screenShares.values())
      );
      this.set({
        medias
      });
    },
    methods: {
      calculateSharing() {
        this.set({
          sharing: Array.from(this._mediaClient._producers.keys())
        });
      },
      async setChecked(inputType, mediaId) {
        console.log("setChecked()", arguments);
        const currentDevices = localStorage.currentDevices
          ? JSON.parse(localStorage.currentDevices)
          : {[inputType]: {}};

        if (!currentDevices[inputType]) currentDevices[inputType] = {};
        const streaming = !this.getChecked(mediaId);
        // !currentDevices[inputType][mediaId];
  
        if (streaming) {
          const stream = await navigator.mediaDevices.getUserMedia({
            [inputType]: {
              deviceId: mediaId
            }
          });
          const tracks = stream.getTracks();
          for (const track of tracks) {
            await this._mediaClient.addTrack(track, mediaId);
          }

          // Potential race condition :')
          const currentDevices = localStorage.currentDevices
            ? JSON.parse(localStorage.currentDevices)
            : {[inputType]: {}};
          if (!currentDevices[inputType]) currentDevices[inputType] = {};
  
          currentDevices[inputType][mediaId] = true;
          localStorage.currentDevices = JSON.stringify(currentDevices);

          this.calculateSharing();
        } else {
          console.log(this._mediaClient);
          const producers = this._mediaClient._producers.get(mediaId);
          for (const producer of producers.values()) {
            console.log("Producer", producer);
            producer.close();
          }
          if (
            inputType == "screensharevideo" ||
            inputType == "screenshareaudio"
          ) {
            const sharing = this._mediaClient._screenShares.get(mediaId);
            console.log("Sharing?", sharing);
            if (sharing) {
              const {medias} = this.get();
              const mediaIndex = medias.indexOf(sharing);
              console.log("Sharing? mediaIndex", mediaIndex);
              if (mediaIndex != -1) {
                medias.splice(mediaIndex, 1);
                this.set({medias});
              }
              this._mediaClient._screenShares.delete(mediaId);
            }
          }
          currentDevices[inputType][mediaId] = undefined;
          localStorage.currentDevices = JSON.stringify(currentDevices);

          this.calculateSharing();
        }
        // we need to fix !!
      },
      getChecked(mediaId) {
        return this._mediaClient._producers.has(mediaId);
      },
      setScreenshareModal(native, modalContext) {
        if (native) {
          this.store.set({
            modal: {
              component: ScreenshareModal,
              options: modalContext
            }
          });
        } else {
          this.screenShare("video");
        }
      },
      async screenShare(type) {
        const stream = await navigator.mediaDevices.getDisplayMedia({
          [type]: true
        });
        const tracks = stream.getTracks();
        for (const track of tracks) {
          await this._mediaClient.addTrack(track, stream.id);
        }

        const shareObject = {
          id: stream.id,
          label: `Screenshare Stream (${type})`,
          kind: "screenshare" + type
        };

        this._mediaClient._screenShares.set(stream.id, shareObject);

        const {medias} = this.get();
        medias.push(shareObject);

        this.set({medias});
  
        this.calculateSharing();
      }
    }
  };
</script>

<style>
  .media-check,
  .media-icon,
  .media-name {
    display: inline-block;
    vertical-align: text-top;
  }

  .media-icon {
    height: 21px;
  }

  h2 {
    margin: 0;
    margin-bottom: 0.5em;
    margin-left: 3px;
  }

  .media-types {
    margin-bottom: 0.75em;
  }

  .media-footer {
    display: flex;
  }

  .foot:first-child {
    text-align: left;
  }

  .foot:last-child:first-child {
    text-align: center;
  }

  .foot:last-child {
    text-align: right;
  }

  .foot {
    text-align: center;
    margin: auto;
    flex-grow: 1;
    flex-shrink: 1;
  }
</style>
