<div class="advanced-modal-holder" on:click="$set({modal:null})">
  <div class="advanced-modal" on:click="event.stopPropagation()">
    <slot>You need to add a child to AdvancedModal!</slot>
  </div>
</div>

<style>
  .advanced-modal-holder {
    z-index: 100;
    padding: 10vh 0;
    height: 80vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .advanced-modal {
    padding: 1em;
    height: fit-content;
    max-width: 50vw;
    width: 100%;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #101112;
  }
</style>
