<AdvancedModal>
  <div class="create-invite-modal">
    <h1>Invite friends to #{modalContext.name}!</h1>
    <span class="invite-holder">
      {inviteCode || "..."}
    </span>
  </div>
</AdvancedModal>

<script>
  import AdvancedModal from "./AdvancedModal.svelte";
  import RestClient from "../../js/RestClient";

  export default {
    components: {
      AdvancedModal
    },
    async oncreate() {
      const res = await RestClient.post(
        `/channels/${this.get().modalContext.id}/invites`
      );
      this.set({
        inviteCode: res.code
      });
    }
  };
</script>

<style>
  .invite-holder {
    border-radius: 5px;
    background-color: #fff;
    padding: 0.5em;
    color: #000;
    border: solid 1px #101112;
    font-size: 2em;
    display: block;
    text-align: center;
  }
</style>
