<SettingsModal tabs={[ "Basic", "Dab"]} bind:selected=tab>
  {#if tab == "Basic"}
  <TextInput name="Name" value={modalContext.name} bind:value=name />
  <Button {disabled} on:click="edit(modalContext, {name})" text="Apply" /> {:elseif tab == "Dab"} DabbbB!! {:else} Oopsie
  Woopsie {/if}
</SettingsModal>

<script>
  import SettingsModal from "./SettingsModal.svelte";
  import TextInput from "../forms/TextInput.svelte";
  import Button from "../forms/Button.svelte";
  import RestClient from "../../js/RestClient";
  import ChannelStore from "../../stores/ChannelStore";

  export default {
    components: {
      SettingsModal,
      TextInput,
      Button
    },
    methods: {
      async edit(channel, options) {
        const diff = {};
        let modified = false;
        for (const key in options) {
          if (channel[key] != options[key]) {
            diff[key] = options[key];
            modified = true;
          }
        }
        if (!modified) {
          return;
        }
        this.set({disabled: true});

        try {
          await RestClient.patch(`/channels/${channel.id}`, diff);
          ChannelStore.slurp({id: channel.id, ...diff});
        } catch (err) {
          console.error(err);
          return this.set({disabled: false});
        }
        this.set({disabled: false});
        this.store.set({modal: null});
      }
    }
  };
</script>
