<div class="create-guild-modal">
  <AdvancedModal>
    <h1>Guild Time!</h1>
    {#if !mode}
    <Button on:click="set({mode: 'create'})" text="Create Guild" />
    <Button on:click="set({mode: 'join'})" text="Join Guild" /> {:elseif mode == "join"}
    <TextInput name="Invite" value="" bind:value=inviteCode />
    <Button {disabled} on:click="join(inviteCode)" text="Join" /> {:elseif mode == "create"}
    <TextInput name="Guild Name" value="" bind:value=guildName />
    <Button {disabled} on:click="create(guildName)" text="Create" /> {:else} drink all the orange juice {/if}
  </AdvancedModal>
</div>

<script>
  import AdvancedModal from "./AdvancedModal.svelte";
  import Button from "../forms/Button.svelte";
  import TextInput from "../forms/TextInput.svelte";
  import RestClient from "../../js/RestClient";
  import GuildStore from "../../stores/GuildStore";
  import ChannelStore from "../../stores/ChannelStore";

  export default {
    components: {
      AdvancedModal,
      Button,
      TextInput
    },
    oncreate() {
      const got = this.get();
      if (got.modalContext && got.modalContext.inviteCode) {
        this.set({
          inviteCode: got.modalContext.inviteCode,
          mode: "join"
        });
      }
    },
    methods: {
      async create(name) {
        this.set({disabled: true});
        try {
          const res = await RestClient.put("/guilds", {
            name
          });
          GuildStore.slurp(res.g);
          ChannelStore.slurp(res.c);
          this.store.setChannel(res.c.id);
          this.store.set({modal: null});
        } catch (err) {
          console.error(err);
          this.set({disabled: false});
        }
      },
      async join(invite) {
        this.set({disabled: true});
        try {
          const res = await RestClient.post("/invites/" + invite);
          const guildNew = GuildStore.slurp(res.g);
          ChannelStore.slurp(res.c);
          this.store.set({modal: null});
          const promises = [this.store.setChannel(res.c.id)];
          if (guildNew) {
            promises.push(
              RestClient.fetch(`/guilds/${res.g.id}/channels`).then(res =>
                ChannelStore.slurp(res)
              )
            );
          }
          await Promise.all(promises);
        } catch (err) {
          console.error(err);
          this.set({disabled: false});
        }
      }
    }
  };
</script>
