<AdvancedModal>
  <h2>Manage Roles</h2>
  <div class="role-list">
    {#if roles} {#each roles as role (role.id)}
    <!-- Don't show default Members role -->
    {#if role.id != role.guildId}
    <RoleManager userId={modalContext} name={role.name} roleId={role.id} /> {/if} {/each} {/if}
  </div>
</AdvancedModal>

<script>
  import RoleManager from "../RoleManager.svelte";
  import RoleMemberStore from "../../stores/RoleMemberStore";
  import RoleStore from "../../stores/RoleStore";
  import AdvancedModal from "./AdvancedModal.svelte";

  export default {
    components: {
      RoleManager,
      AdvancedModal
    },
    oncreate() {
      const onChangeListener = async change => {
        const gotStore = this.store.get();
        const got = this.get();
        const guildId = gotStore.guildId;
        console.log("Called onChangeListener(", change, ")");
        if (change && change.guildId != guildId) {
          return console.log("Bailed");
        }
        let roles = RoleStore.getRoles(guildId);
        if (!change && !roles.length) {
          roles = await RoleStore.fetchGuild(guildId);
        }
        if (!RoleMemberStore.getMembers(guildId).has(got.modalContext)) {
          RoleMemberStore.fetchMemberships(guildId, got.modalContext);
        }
        this.set({
          roles: roles.sort((a, b) => a.position - b.position)
        });
      };
      console.log("Calling!");
      onChangeListener(false);
      RoleStore.on("change", onChangeListener);
      this.on("destroy", () => {
        RoleStore.removeListener("change", onChangeListener);
      });
    }
  };
</script>

<style>
  h2 {
    margin: 0;
  }
</style>
