<AdvancedModal>
  <div class="nickname-modal">
    <h1>Set Nickname</h1>
    <TextInput name="Nickname" value={modalContext.nickname} bind:value=nickname />
    <Button on:click="setNickname(nickname, modalContext)" text="Apply" />
  </div>
</AdvancedModal>

<script>
  import AdvancedModal from "./AdvancedModal.svelte";
  import Button from "../forms/Button.svelte";
  import TextInput from "../forms/TextInput.svelte";
  import RestClient from "../../js/RestClient";
  import MemberStore from "../../stores/MemberStore";

  export default {
    components: {
      AdvancedModal,
      Button,
      TextInput
    },
    methods: {
      async setNickname(nickname, context) {
        this.set({disabled: true});
        try {
          const res = await RestClient.patch(
            `/guilds/${context.guildId}/members/${context.userId}`,
            {
              nickname
            }
          );
          MemberStore.slurp(res);
        } catch (err) {
          console.error(err);
          this.set({disabled: false});
          return;
        }
        this.store.set({modal: null});
      }
    }
  };
</script>
