<div class="audio-waveform">

  {#await largestBarPromise} dick {:then largestBar}
  <svg width="11.906mm" height="7.9375mm" viewBox={`0 0 11.90625 ${(largestBar * 7.9375) / 7.9375}`}>
    <g transform="translate(-33.64 -126)" fill="#999">
      {#await bars} {:then barsArray} {#each barsArray || [] as bar, index}
      <rect x={(index * (1.3229 + 1)) + 33.64} y="122" width="1.3229" style={`${bar < 0 ? "bottom" : "top"}: 0`} height={Math.abs(bar
       * 2 * 7.9375)} /> {/each} {:catch error} Oops {error} {/await}
    </g>
  </svg>
  {:catch error} oopsies {error} {/await}
</div>

<script>
  export default {
    computed: {
      largestBarPromise({bars}) {
        return bars.then(bars => {
          const sorted = bars.sort((b, a) => a - b);
          console.log(sorted, "zz");
          return bars[0];
        });
      },
      async bars({file}) {
        const ctx = new (window.AudioContext || window.webkitAudioContext)();

        const buf = await new Promise(resolve => {
          const fileReader = new FileReader();
          fileReader.onload = function(event) {
            resolve(event.target.result);
          };
          fileReader.readAsArrayBuffer(file);
        });

        const source = await ctx.decodeAudioData(buf);
        const channelData = source.getChannelData(0);
        const bars = [];
        const hopLength = Math.floor(source.length / 5);
        for (let i = hopLength; i < source.length; i += hopLength) {
          const dat =
            channelData.slice(i - 100, i + 100).reduce((a, b) => a + b) / 200;
          bars.push(dat * 2);
        }
        return bars;
      }
    }
  };
</script>
