<div class="auth-page">
  <div class="auth-form">
    {#if signup}
    <SignupForm /> {:else}
    <SigninForm /> {/if}
    <p class="muted-text">
      {#if signup} Already have an account?
      <a href="#" on:click="set({signup: false})">Login</a>
      {:else} Need an account?
      <a href="#" on:click="set({signup: true})">Create an account</a>
      {/if}
    </p>
  </div>
</div>

<script>
  import SignupForm from "./forms/SignupForm.svelte";
  import SigninForm from "./forms/SigninForm.svelte";

  export default {
    components: {
      SigninForm,
      SignupForm
    }
  };
</script>

<style>
  .auth-page {
    min-height: 100vh;
    min-width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #39bfce;
  }

  .auth-form {
    height: 50vh;
    width: 40vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 8px;
    padding: 4em 2em 0.5em 2em;
    position: absolute;
    background-color: #101112;
    color: #fff;
  }
</style>
