<div class="call-view">
  {#if connected}
  <PeerGrid {channelId} />
  {/if}
  
  <div class="own-controls">
    <div class="controls">
      <Button text="Add Media" on:click="mediaChoices(channelId)"/>
      <Button text="Disconnect" on:click="disconnectCall(channelId)"/>
    </div>
  </div>
</div>

<style>
  .controls {
    display: inline-block;
    background: #101112aa;
    padding: 0.5em 0.75em;
    border-radius: 5px;
  }
  
  .call-view {
    position: relative;
    height: 100vh;
    max-height: 100vh;
  }
  
  .own-controls {
    text-align: center;
    position: absolute;
    bottom: 0.5em;
    left: 0;
    right: 0;
  }
</style>

<script>
  import {clients, MediaClient} from "../js/MediaClient";
  import AddMediaModal from "./modals/AddMediaModal.svelte";
  import * as Native from "../js/Native";
  window.nnative = Native;
  
  export default {
    onstate({changed, current}) {
      if (changed.channelId) {
        if (clients.get(current.channelId)) {
          this.set({connected: true});
        } else {
          const client = new MediaClient(current.channelId);
          if (current.connected) this.set({connected: false});
          client.once("joined", () => this.set({connected: true}));
          client.once("disconnect", () => this.set({connected: false}));
        }
      }
    },
    methods: {
      disconnectCall(channelId) {
        const client = clients.get(channelId);
        if (!client) return;
        client.disconnect();
      },
      async mediaChoices(channelId) {
        this.store.set({
          modal: {
            component: AddMediaModal,
            options: {
              channelId
            }
          }
        });
  
        /*
        console.log("AAAA", event, channelId);

        const devices = await navigator.mediaDevices.enumerateDevices();

        const choices = devices
          .filter(device => device.kind.endsWith("input"))
          .map(device => ({
            text:
              device.label ||
              (device.kind == "audioinput"
                ? "Microphone"
                : device.kind == "videoinput"
                ? "Camera"
                : "...Smell-o-vision?"),
            click: async () => {
              const client = clients.get(channelId);
              if (!client) return console.warn("Client doesn't exist?");

              const inputType = device.kind.slice(0, -5);

              const stream = await navigator.mediaDevices.getUserMedia({
                [inputType]: {deviceId: device.deviceId}
              });
              const tracks = stream.getTracks();
              for (const track of tracks) {
                await client.addTrack(track);
              }
            }
          }));
        if (Native.isNative) {
          choices.push({
            text: "Screen Share",
            click: async () => {
              const client = clients.get(channelId);
              if (!client) return console.warn("Client doesn't exist?");
              const sources = await Native.enumerateDisplays();
              console.log("SOURCES!", sources);

              const choices = sources.map(source => ({
                text: source.name,
                click: async () => {
                  const client = clients.get(channelId);
                  if (!client) return console.warn("Client doesn't exist?");
                  const stream = await navigator.mediaDevices.getUserMedia({
                    video: {
                      mandatory: {
                        chromeMediaSource: "desktop",
                        chromeMediaSourceId: source.id
                      }
                    }
                  });
                  const tracks = stream.getTracks();
                  for (const track of tracks) {
                    await client.addTrack(track);
                  }
                }
              }));
              this.store.set({
                contextMenu: {
                  choices,
                  event
                }
              });
            }
          });
          choices.push({
            text: "Audio Share (Experimental)",
            click: async () => {
              const client = clients.get(channelId);
              if (!client) return console.warn("Client doesn't exist?");
              const stream = await navigator.mediaDevices.getUserMedia({
                audio: {
                  mandatory: {
                    chromeMediaSource: "desktop"
                  }
                }
              });
              const tracks = stream.getTracks();
              for (const track of tracks) {
                await client.addTrack(track);
              }
            }
          });
        } else if (navigator.mediaDevices.getDisplayMedia) {
          choices.push({
            text: "Screen Share",
            click: async () => {
              const client = clients.get(channelId);
              if (!client) return console.warn("Client doesn't exist?");
              const stream = await navigator.mediaDevices.getDisplayMedia();
              const tracks = stream.getTracks();
              for (const track of tracks) {
                await client.addTrack(track);
              }
            }
          });
        }
        this.store.set({
          contextMenu: {
            choices,
            event
          }
        });
        */
      }
    },
  
    components: {
      PeerGrid: "./PeerGrid.svelte",
      Button: "./forms/Button.svelte"
    }
  };
</script>
