<div class="consumer-player">
  {#if !playing}
  <div class="driver">
    {consumer.paused}
    {consumer.track}
    Play me!!
  </div>
  {:elseif consumer.kind == "audio"}
  <div class="driver">
    <img class="driver-native" src="../icons/audio.svg" />
  </div>
  {:elseif consumer.kind == "video"}
  <div class="driver">
    <video class="driver-native" autoplay=true use:srcObject="stream" />
  </div>
  {:else}
  <div class="driver">
    Sorry, smell-o-vision isn't supported on this version
  </div>
  {/if}
</div>

<script>
  import {clients} from "../js/MediaClient";
  
  export default {
    actions: {
      srcObject(node, stream) {
        node.srcObject = stream;

        return {
          update(stream) {
            node.srcObject = stream;
          },
          destroy() {}
        };
      }
    },
    onstate({current, changed}) {
      if (changed.consumer) {
        if (this._unhook) this._unhook();
        const client = clients.get(current.channelId);
        console.log("client", client, current.channelId);

        const updatePlaying = originator => {
          if (!originator || originator == "local") {
            this.set({
              playing: !current.consumer.paused && current.consumer.track
            });
          }
        };

        updatePlaying();
  
        if (current.consumer && current.consumer.on) {
          current.consumer.on("resume", updatePlaying);
          current.consumer.on("handled", updatePlaying);
          current.consumer.on("pause", updatePlaying);
          console.log("consumer", current.consumer);
  
          this._unhook = () => {
            current.consumer.removeListener("resume", updatePlaying);
            current.consumer.removeListener("handled", updatePlaying);
            current.consumer.removeListener("pause", updatePlaying);
          };
        } else {
          this._unhook = undefined;
        }

        (async () => {
          if (this.pause) this.pause();
          const streamData = await client.playConsumer(current.consumer);
          this.pause = streamData.pause;
          this.set({stream: streamData.stream});
          updatePlaying();
        })();
      }
    },
    ondestroy() {
      if (this.pause) this.pause();
      if (this._unhook) this._unhook();
    }
  };
</script>

<style>
  .driver-native {
    max-height: 100%;
    max-width: 100%;
  }
  .driver {
    border-radius: 5px;
  }
</style>
