{#if choices && ev}
<div class="contextmenu"
     transition:mobileSlide="{duration:200}"
     style={`left:${ev.pageX}px;top:${ev.pageY}px`}>
  {#each choices as choice} {#if !choice.hide}
  <div class="contextmenu-item" style={choice.color && `color:${choice.color}`} on:click="onclick({choice, event})">
    {#if choice.icon}
    <img src={"../icons/" + choice.icon} />
    {/if}
    {choice.text}
  </div>
  {/if} {/each}
</div>
{/if}

<script>
  import mobileSlide from "../js/mobileSlide";
  
  export default {
    methods: {
      onclick({choice, event}) {
        choice.click(event);
      }
    },
    transitions: {
      mobileSlide
    }
  };
</script>

<style>
  .contextmenu {
    position: absolute;
    background-color: #000;
    padding: 0.2em;
    border-radius: 4px;
    width: 10em;
    z-index: 999999999999999;
  }

  .contextmenu-item {
    transition: background 0.1s ease-in-out;
    cursor: pointer;
    padding: 0.4em;
  }

  .contextmenu-item:hover {
    background: #101112;
    border-radius: 4px;
  }

  @media (max-width: 700px) {
    .contextmenu {
      position: absolute;
      bottom: 0 !important;
      top: unset !important;
      left: 0 !important;
      right: 0 !important;
      width: 100%;
      padding: 0;
    }
    .contextmenu-item {
      padding: 1em;
      text-align: center;
      font-size: 1.25em;
    }
  }
</style>
