<span
  class:lighten="touching"
  on:contextmenu="showContext(event, choices, hide)"
  on:touchStart="touchStart(event, hide, touching, preventer, $contextMenu)"
  on:mouseleave="clearTimeout(touching, preventer)"
  on:touchend="clearTimeout(touching, preventer)"
  class="context-target">
  <slot />
</span>

<script>
  const TOUCH_THRESHOLD = 500;
  
  export default {
    data() {
      return {
        touching: null
      };
    },
    events: {
      touchStart(node, callback) {
        node.addEventListener("touchstart", callback, false);

        return {
          destroy() {
            node.removeEventListener("touchstart", callback, false);
          }
        };
      }
    },
    methods: {
      clearTimeout(touching, preventer) {
        if (touching) {
          clearTimeout(touching);
          this.set({touching: null});
        }
        if (preventer) {
          clearTimeout(preventer);
          this.set({preventer: null});
        }
      },
      touchStart(event, hide, touching, preventer, $contextMenu) {
        if ($contextMenu || hide) return this.clearTimeout(touching, preventer);
        console.log("touchStart", event);
        this.set({
          // We still need to be able to tap some stuff, so we give a 100ms window in which the user can stop a tap
          preventer: setTimeout(() => event.preventDefault(), 100),
          touching: setTimeout(() => {
            const got = this.get();
            this.showContext(event, got.choices, got.hide);
          }, TOUCH_THRESHOLD)
        });
      },
      showContext(event, choices, hide) {
        if (hide) return;
        event.preventDefault();
        this.store.set({
          contextMenu: {
            choices,
            event
          }
        });
      }
    }
  };
</script>

<style>
  .context-target {
    display: inherit;
    background: none;
    transition: background 0.2s ease-out;
  }
  
  .lighten {
    background: #ffffff33;
  }
</style>
