<div class="create-channel-button" on:click="createChannel()">
  CHANNELS
  <span class="create-channel-action">
    +
  </span>
</div>

<script>
  import CreateChannelModal from "./modals/CreateChannelModal.svelte";

  export default {
    methods: {
      createChannel() {
        this.store.set({
          modal: {
            component: CreateChannelModal
          }
        });
      }
    }
  };
</script>

<style>
  .create-channel-button {
    margin-top: 8px;
    margin-left: 4px;
    font-size: 0.8em;
    font-weight: 700;
    color: #bbb;
    position: relative;
  }

  .create-channel-button:hover .create-channel-action {
    color: #fff;
  }
  .create-channel-button:hover {
    cursor: pointer;
  }

  .create-channel-action {
    right: 4px;
    position: absolute;
  }
</style>
