<div class="file-preview">
  <span class="close-button">
    <svg width="24" height="24" on:click="fire('remove')" viewBox="0 0 24 24">
      <path d="m12 3.4237c-4.7341 0-8.5763 3.8422-8.5763 8.5763 0 4.7341 3.8422 8.5763 8.5763 8.5763 4.7341 0 8.5763-3.8422 8.5763-8.5763 0-4.7341-3.8422-8.5763-8.5763-8.5763z"
       fill="#fff" />
      <path class="icon" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11H7v-2h10v2z" />
    </svg>
  </span>
  {#if file.type.startsWith("image/")}
  <img src={blobUri} class="preview-driver image" /> {:elseif file.type.startsWith("video/")}
  <video src={blobUri} class="preview-driver video" muted=true autoplay=true loop=true /> {:elseif file.type.startsWith("audio/")}
  <div class="preview-driver audio">
    <AudioWaveform {file} />
  </div>
  {:else}
  <div class="preview-driver filename">
    {file.name}
  </div>
  {/if}
</div>


<script>
  import AudioWaveform from "./AudioWaveform.svelte";

  export default {
    components: {
      AudioWaveform
    },
    computed: {
      blobUri({file}) {
        // Not sure if svelte builds these on demand or not, so we do this
        if (file.type.startsWith("image/") || file.type.startsWith("video/"))
          return URL.createObjectURL(file);
        else return null;
      }
    },
    ondestroy() {
      const got = this.get();
      // Destroy blob URI
      if (got.blobUri) URL.revokeObjectURL(got.blobUri);
    }
  };
</script>


<style>
  .preview-driver:not(:first-child) {
    margin-left: 0.5em;
  }

  .preview-driver {
    max-height: 10vh;
    width: auto;
    height: auto;
    max-width: 10vw;
    border-radius: 2.5px;
  }
  .file-preview {
    position: relative;
    display: inline-block;
  }

  .close-button {
    position: absolute;
    right: -14px;
    top: -14px;
  }

  path:hover {
    cursor: pointer;
  }
</style>
