<div on:click="openModal($guild)" class="guild-header">
  <span class="guild-name">
    <slot />
  </span>
  <span class="down-arrow">
    &#x25BE;
  </span>
</div>

<script>
  import GuildSettingsModal from "./modals/GuildSettingsModal.svelte";

  export default {
    methods: {
      openModal(guild) {
        this.store.set({
          modal: {
            component: GuildSettingsModal,
            options: guild
          }
        });
      }
    }
  };
</script>

<style>
  .guild-header {
    min-height: 1.5em;
    padding: 1em 0.5em;
    border-bottom: solid 1px #2f3336;
    cursor: pointer;
    transition: background-color ease-in-out 0.1s;
    display: flex;
  }

  .guild-header:hover {
    background-color: #222;
  }

  .down-arrow {
    float: right;
    color: #b3b3b3;
  }

  .guild-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    flex: 1;
  }
</style>
