<div class="list-header">
  {name}
</div>

<script>
  import RoleStore from "../stores/RoleStore";
  
  export default {
    onstate({current, changed}) {
      if (changed.roleId) {
        this.onChanged();
      }
      if (changed.guildId) {
        RoleStore.subscribeComponent(current.guildId, this, this.onChanged);
      }
    },
    methods: {
      onChanged() {
        const roleId = this.get().roleId;
        const role = RoleStore.getItem(roleId);
        this.set({name: role ? role.name : roleId});
      }
    }
  };
</script>

<style>
  .list-header {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #bbbbbb;
    margin-left: 0.75em;
    letter-spacing: 0.03em;
  }
</style>
