<div class="list-member">
  {#if user}
  <span class="list-member-avatar">
    <RoundUserAvatar {userId} {user} />
  </span>
  <div class="info-flex">
    <div class="username">
      {user.username}
    </div>
    {#if user.activity}
    <div class="activity">
      {user.activity}
    </div>
    {/if}
  </div>
  {:else}
  {userId}
  {/if}
</div>

<script>
  import UserStore from "../stores/UserStore";
  
  export default {
    components: {
      RoundUserAvatar: "./RoundUserAvatar.svelte"
    },
    onstate({current, changed}) {
      if (changed.userId) {
        UserStore.subscribeComponent(current.userId, this, this.userChange, "u");
      }
    },
    methods: {
      userChange() {
        console.log("USER CHANE!");
        this.set({user: UserStore.getItem(this.get().userId)});
      }
    }
  };
</script>

<style>
  .list-member {
    display: flex;
    margin: 0.75em 0.5em;
  }

  .username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 0.9em;
    max-width: 100%;
  }

  .activity {
    font-size: 0.75em;
    color: #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  .info-flex {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-left: 0.6em;
    display: inline-flex;
    flex-direction: column;
  }
</style>
