<div ref:list class="list" on:scroll="onScroll(guildId, channelId, isLoading || hitEnd, members)">
  {#each members as listGroups (listGroups[0])}
  <ListHeader {guildId} roleId={listGroups[0]} />
  <!-- <ListHeader roleId={listGroups[0]} /> -->
  {#each listGroups[1] as member}
  <ListMember userId={member} {guildId} />
  {/each}
  {/each}
  {#if isLoading}
  Loading...
  {/if}
</div>

<script>
  import MemberListStore from "../stores/MemberListStore";
  import OverrideStore from "../stores/OverrideStore";
  import RoleStore from "../stores/RoleStore";
  
  export default {
    components: {
      ListMember: "./ListMember.svelte",
      ListHeader: "./ListHeader.svelte"
    },
    methods: {
      async onScroll(guildId, channelId, ignore, members) {
        if (ignore) return;
        const preloadBarrier = this.refs.list.scrollHeight - 100;
        if (this.refs.list.scrollTop >= preloadBarrier) {
          await this.loadChunk(guildId, channelId, members);
        }
      },
      async loadChunk(guildId, channelId, members) {
        this.set({isLoading: true});
        console.log(members);
        const lastMemberGroup = members.length && members[members.length - 1][1];
        console.log(lastMemberGroup, "lastMemberGroup");
        await MemberListStore.fetchChunk(guildId, channelId, {
          after:
            (lastMemberGroup.length &&
              lastMemberGroup[lastMemberGroup.length - 1]) ||
            ""
        });
        this.set({isLoading: false});
      },
      calculateHash() {
        const got = this.get();
        const hash = MemberListStore._calculateHash(got.guildId, got.channelId);
        console.log("...Hashed out", hash);
        this.set({listId: hash});
      },
      listChange({listId}) {
        const got = this.get();
        if (listId !== got.listId) return;
        const members = MemberListStore.getItem(listId);
        this.set({members});
      }
    },
    data() {
      return {
        members: [],
        isLoading: false,
        hitEnd: false
      };
    },
    onstate({current, changed}) {
      console.log("State!", changed, current);
      if (changed.channelId) {
        OverrideStore.subscribeComponent(
          current.channelId,
          this,
          this.calculateHash
        );
      }
      if (changed.guildId) {
        RoleStore.subscribeComponent(current.guildId, this, this.calculateHash);
      }
      if (changed.listId) {
        this.set({members: []});
        this.loadChunk(current.guildId, current.channelId, []).then(() =>
          this.listChange({listId: current.listId})
        );
      }
    }
  };
</script>

<style>
  .list {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding: 1em 0.5em;
  }
</style>
