<div class="message" class:sending="!id">
  <div class="message-header">
    <div class="message-detail">
      <ContextMenu choices={authorContextChoices}>
  <span class="user-avatar">
    <UserAvatar userId={authorId} />
  </span>
  <h2 class="username">
    {#if displayName}
    {displayName}
    {:elseif userPromise}
    {#await userPromise}
    {authorId}
    {:then user}
    {user.username}
    {:catch err}
    Oopsie Woopsie, {authorId}: {err.message}
    {/await}
    {/if}
  </h2>
      </ContextMenu>
      <span class="message-time">
  {relativeDate}
      </span>
    </div>
  </div>
  <div
    class:mentions="content.includes('<@' + $userId + '>') || content.includes('@everyone')"
    class="message-content">
    {#if editing}
    <ChannelInput messageContent={content}
      channelName={$channel.name}
      editing={id}
      className="channel-input editing-channel-input"
      on:edit="fire('edit', event)"
      channelId={$channel.id} />
    {:else}
    <ContextMenu choices={contextChoices}>
      <MarkdownParser {content} />
    </ContextMenu>
    {/if}
  </div>
  <div class="message-attachments">
    {#each attachments as attachment (attachment.id)}
    {#if attachment.uploaded !== false}
    <AttachmentPreview {attachment} on:load="fire('attachmentLoad')" />
    {/if}
    {/each}
  </div>
</div>

<script>
  import MarkdownParser from "./MarkdownParser.svelte";
  import UserStore from "../stores/UserStore";
  import ChannelInput from "./ChannelInput.svelte";
  import UserAvatar from "./UserAvatar.svelte";
  import AttachmentPreview from "./AttachmentPreview.svelte";
  import SnowflakeUtils from "../js/SnowflakeUtils";
  import ContextMenu from "./ContextMenu.svelte";
  import RestClient from "../js/RestClient";
  import ChannelMessageStore from "../stores/ChannelMessageStore";
  import ManageRolesModal from "./modals/ManageRolesModal.svelte";

  export default {
    components: {
      MarkdownParser,
      UserAvatar,
      ContextMenu,
      ChannelInput,
      AttachmentPreview
    },

    oncreate() {
      const got = this.get();

      let userPromise;

      if (got.displayName === undefined) {
        const userId = got.authorId;
        const gotUser = UserStore.getUser(userId);
        userPromise = gotUser || UserStore.fetchUser(userId);
      }
  
      this.set({
        userPromise,
        authorContextChoices: [
          {
            text: "Manage Roles",
            click: () =>
              this.store.set({
                modal: {
                  component: ManageRolesModal,
                  options: this.get().authorId
                }
              })
          },
          {
            text: "Copy ID",
            click: () => alert(this.get().authorId)
          }
        ],
        contextChoices: [
          {
            text: "Edit Message",
            click: () => {
              this.store.set({
                editing: this.get().id
              });
            },
            hide: this.get().authorId != this.store.get().userId
          },
          {
            text: "Delete Message",
            click: async () => {
              const {id} = this.get();
              await RestClient.delete(
                `/channels/${this.store.get().channel.id}/messages/${id}`
              );
              ChannelMessageStore.unslurp({id});
            },
            color: "#b03"
          },
          {
            text: "Copy ID",
            click: () => alert(this.get().id)
          }
        ]
      });
    },
    computed: {
      sendTime({id, nonce}) {
        return SnowflakeUtils.when(nonce || id);
      },
      relativeDate({sendTime}) {
        return `${sendTime.toLocaleDateString()} ${sendTime.toLocaleTimeString()}`;
      }
    }
  };
</script>

<style>
  .message:not(:last-child):after {
  background-color: #2f3336;
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  margin-top: 0.5em;
  }
  .username {
  margin: 0;
  font-size: 1rem;
  display: inline-block;
  }
  .message-content {
  font-size: 1rem;
  }
  .message {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
  }
  .message:last-child {
    margin-bottom: 0.35em;
  }
  .message.sending .message-content {
    color: #949494;
  }

  .message-time {
    font-size: 0.58em;
    color: #909090;
  }

  .message-detail {
    display: inline-block;
    vertical-align: top;
  }

  .message-content.mentions {
    background-color: rgba(218, 218, 30, 0.3);
    border-left: 4px solid #d0ff25;
    border-top-left-radius: 2px;
    padding-left: 0.2em;
    border-bottom-left-radius: 2px;
  }

</style>
