<svelte:window on:keydown="pageScrollKey(event)" />

<div ref:messageList class="message-list" on:scroll="onScroll(event, channelMessages, $channel.id, capHit)">
  {#if channelMessages}
  {#each channelMessages as message ((message.nonce || message.id))}
  <div class="message-container">
    <Message id={message.id}
       content={message.content}
       displayName={message.authorDisplayName}
       authorId={message.authorId}
       createdAt={message.createdAt}
       attachments={message.attachments}
       on:attachmentLoad="jumpBottom(true)"
       on:edit="set({editing: event})"
       editing={editing && editing == message.id} />
  </div>
  {/each}
  {/if}
</div>
<ChannelInput
  on:edit="set({editing:event})"
  {lastOwnMessageId}
  messages={channelMessages}
  files={[]}
  isChannelInput=true
  messageContent=""
  channelId={$channel.id}
  on:messageSent="jumpBottom()"
  on:stickToBottom="jumpBottom(true)"
  channelName={$channel.name} />

<script>
  import Message from "./Message.svelte";
  import ChannelInput from "./ChannelInput.svelte";
  import ChannelMessageStore from "../stores/ChannelMessageStore";

  // const noNonces = new Set();
  
  export default {
    components: {
      Message,
      ChannelInput
    },
    computed: {
      lastOwnMessageId({$userId, channelMessages}) {
        let lastOwnMessage = null;
        if (channelMessages) {
          // We really need to figure out how to cache this
          for (let i = channelMessages.length - 1; i != -1; i--) {
            console.log(i, "wooo", channelMessages);
            const message = channelMessages[i];
            if (message.authorId == $userId) {
              lastOwnMessage = message;
              break;
            }
          }
        }
        return lastOwnMessage && lastOwnMessage.id;
      }
    },
    methods: {
      async messagesChange() {
        const oldScrollHeight = this.refs.messageList.scrollHeight;
        const got = this.get();
        const messages = ChannelMessageStore.getItems(got.channelId);

        /*
        console.log(messages);
        for(const msg of messages) {
          if(!msg.nonce) noNonces.add(msg.id);
          else if(noNonces.has(msg.id)) {
            console.log(noNonces, msg, msg.id, msg.nonce);
            throw new Error("Sanity check borked!");
          }
        }*/

        this.set({
          channelMessages: messages
        });
        setTimeout(() => {
          console.log("Jumping!", got.scrolledPast);
          if (!got.scrolledPast) this.jumpBottom(false, true);
          else
            this.refs.messageList.scrollTop =
              this.refs.messageList.scrollHeight - oldScrollHeight;
        });
      },
      // TODO: Figure out wtf to do about key repeats?!
      pageScrollKey(event) {
        const code = event.which || event.keyCode;
        const delta = code == 33 ? -1 : code == 34 ? 1 : 0;
        if (
          delta &&
          ((event.repeat && !this.get().runningScroll) || !event.repeat)
        ) {
          // wtf crazy math
          const top =
            this.refs.messageList.clientHeight *
            delta *
            (event.repeat ? 0.8 : 0.9);
          console.log(
            "SCROLLING....",
            event.key,
            delta,
            top,
            this.refs.messageList.clientHeight
          );
          this.set({runningScroll: true});
          this.refs.messageList.scrollBy({
            top,
            left: 0,
            behavior: "smooth" // event.repeat ? "auto" : "smooth"
          });
          setTimeout(() => this.set({runningScroll: false}), 200);
        }
      },
      jumpBottom(checkStuck, fast) {
        if (checkStuck && this.get().scrolledPast) return;
        this.set({scrolledPast: false});
        console.log("Jumping past!");
        this.refs.messageList.scroll({
          top: this.refs.messageList.scrollHeight,
          left: 0,
          behavior: fast ? "auto" : "smooth"
        });
      },
      async onScroll(event, messages, channelId, capHit) {
        if (
          this.refs.messageList.scrollTop + this.refs.messageList.clientHeight >=
          this.refs.messageList.scrollHeight
        )
          this.set({scrolledPast: false});
        else {
          this.set({scrolledPast: true});
        }
        if (this.refs.messageList.scrollTop == 0 && messages.length && !capHit) {
          console.log("fetching & slurping more messages...");
          const results = await ChannelMessageStore.fetch(
            channelId,
            `?before=${messages[0].id}`
          );
          if (results.length < 50) this.set({capHit: true});
        }
      }
    },
    async onstate({current, changed}) {
      console.log("app modified!", current, changed);
      if (current.channelId && changed.channelId) {
        ChannelMessageStore.subscribeComponent(
          current.channelId,
          this,
          this.messagesChange,
          "c"
        ).then(() => this.jumpBottom(false, true));
      }
    },
    async oncreate() {
      window.messageArea = this;
    }
  };
</script>


<style>
  .message-list {
    margin-top: auto;
    max-height: 100vh;
    overflow-y: auto;
    width: 100%;
  }

</style>
