<div class="player-grid">
  <div class="user-info child">
    <div
      style={avatarUrl && `background-image:url(${avatarUrl})`}
      class="avatar" />
    <div class="username">{username}</div>
  </div>
  <div class="players child">
    {#each consumers as consumer (consumer.id)}
    <div class="player">
      <ConsumerPlayer {consumer} {channelId} />
    </div>
    {/each}
  </div>
</div>

<style>
  .players {
    background-color: #1a1a1b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .player-grid {
    margin: 0.5em;
  }
  .user-info {
    background-color: #161616;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
  }
  .username {
    line-height: 2em;
    vertical-align: top;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 0.5em;
  }
  .child {
    padding: 1em;
  }
  .avatar {
    position: relative;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    background-color: #1d1d1d;
    background-size: contain;
    display: inline-block;
  }
</style>

<script>
  import {clients} from "../js/MediaClient";
  import env from "../js/constants";
  import UserStore from "../stores/UserStore";
  
  export default {
    data() {
      return {consumers: []};
    },
    components: {
      ConsumerPlayer: "./ConsumerPlayer.svelte"
    },

    methods: {
      playersChange() {
        console.log("PLAYERS CHANGE");
        const got = this.get();
        const client = clients.get(got.channelId);
        if (!client) return;
        const consumers = client.getTracks(got.id);
        console.log("PLAYERS CONSUMERS", consumers);
        this.set({consumers});
      },
      userChange() {
        const user = UserStore.getItem(this.get().id);
        this.set({
          username: user && user.username,
          avatar: user && user.avatar
        });
      }
    },

    computed: {
      avatarUrl({id, avatar}) {
        return avatar ? `${env.API_BASE}/avatars/${id}/${avatar}` : null;
      }
    },

    onstate({current, changed}) {
      if (changed.id) {
        const client = clients.get(current.channelId);
        if (client) client.subscribe(current.id, this, this.playersChange);
        UserStore.subscribeComponent(current.id, this, this.userChange, "u");
      }
    }
  };
</script>
