<div class="presence-pointer"
     class:offline="presence === undefined || presence == presences.offline"
     class:dnd="presence == presences.dnd"
     class:idle="presence == presences.idle"
     class:online="presence == presences.online" />

<script>
  import constants from "../js/constants";
  
  export default {
    helpers: {
      presences: constants.presence
    }
  };
</script>

<style>
  .presence-pointer {
    background-color: #f0f;
    border-radius: 100%;
    height: 11px;
    width: 11px;
    border: solid #202224 2px;
    position: absolute;
    bottom: -8%;
    right: -10%;
  }

  .presence-pointer.online {
    background-color: #43b581;
  }
  .presence-pointer.offline {
    background-color: #747f8d;
  }
  .presence-pointer.idle {
    background-color: #faa61a;
  }
  .presence-pointer.dnd {
    background-color: #f04747;
  }
</style>

