<div class="role-manager">
  {name}
  {#if has}
  <span on:click="manageRole($guildId, roleId, userId, true)">-</span>
  <!-- <RemoveButton on:click="manageRole(roleId, userId, true)" /> -->
  {:else}
  <span on:click="manageRole($guildId, roleId, userId)">+</span>
  <!-- <AddButton on:click="manageRole(roleId, userId)" /> -->
  {/if}
</div>

<script>
  import RoleMemberStore from "../stores/RoleMemberStore";
  import RestClient from "../js/RestClient";
  
  export default {
    oncreate() {
      const onChange = role => {
        console.log("hhhh", role);
        const {userId, roleId} = this.get();
        if (!role || role.roleId === roleId)
          this.set({
            has: RoleMemberStore.getMembers(roleId).has(userId)
          });
      };
      onChange();
      RoleMemberStore.on("change", onChange);
      this.on("destroy", () =>
        RoleMemberStore.removeListener("change", onChange)
      );
    },
    methods: {
      async manageRole(guildId, roleId, userId, remove) {
        await RestClient.request(
          remove ? "DELETE" : "PUT",
          `/guilds/${guildId}/members/${userId}/roles/${roleId}`,
          true
        );
        RoleMemberStore[remove ? "unslurp" : "slurp"]({
          roleId,
          userId
        });
      }
    }
  };
</script>
