<input ref:uploadInput type="file" on:change="onUpload(event)" />

<svg
  on:click="upload()"
  width="24"
  height="24"
  viewBox="0 0 24 24">
  <path
    fill="#b3b3b3"
    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm5 11h-4v4h-2v-4H7v-2h4V7h2v4h4v2z"/>
</svg>

<script>
  export default {
    methods: {
      upload() {
        this.refs.uploadInput.click();
      },
      onUpload(event) {
        console.log("Upload!", event.target.files);
        for (const file of event.target.files) {
          this.fire("fileAdd", file);
        }
        event.target.value = null;
      }
    }
  };
</script>

<style>
  svg {
    margin-bottom: 2px;
  }

  svg path {
    transition: fill ease-in-out 0.1s;
  }

  svg:hover {
    cursor: pointer;
  }

  svg:hover path {
    fill: #fff;
  }

  input {
    display: none;
  }
</style>
