<div class="user-avatar" style={`background-image:url("${avatarUrl}")`} />

<script>
  import constants from "../js/constants";
  import UserStore from "../stores/UserStore";

  export default {
    onstate({current, changed}) {
      if (changed.userId) {
        UserStore.subscribeComponent(current.userId, this, this.userChange, "u");
      }
    },
    computed: {
      avatarUrl({user, userId}) {
        return user && user.avatar
          ? constants.API_BASE + "/avatars/" + userId + "/" + user.avatar
          : constants.DEFAULT_AVATAR;
      }
    },
    methods: {
      userChange() {
        this.set({user: UserStore.getItem(this.get().userId)});
      }
    }
  };
</script>


<style>
  .user-avatar {
    width: 1.5em;
    border-radius: 0.3em;
    background-size: cover;
    height: 1.5em;
    display: inline-block;
    background-color: #202224;
    vertical-align: bottom;
  }
</style>
