<svg width="24px"
     height="24px"
     viewBox="0 0 32 32"
     version="1.1"
     xmlns="http://www.w3.org/2000/svg"
     on:click="fire('click', event)">

    <path

     d="m 16.197203,0.00110648 c -1.11614,-0.012887 -2.234416,0.086732 -3.329202,0.30531351 C 7.2605521,1.3694821 2.4403991,5.6941346 0.76123909,11.14929 c -0.884128,2.659331 -0.821357,5.505131 -0.673893,8.266786 0.477249,5.280841 4.25274701,10.063243 9.26496801,11.773651 2.4724719,0.951837 5.1499629,0.792041 7.7455319,0.790847 3.792281,0.198224 7.655954,-1.125384 10.424148,-3.748572 3.045247,-2.786465 4.672928,-6.961938 4.458713,-11.071854 C 32.126514,13.966596 31.449915,10.711845 29.812806,7.9477379 27.079288,3.1522933 21.714814,0.02238568 16.197203,0.00110648 Z m 7.347128,9.49440112 c 0.532954,0.014817 0.985614,0.5178724 0.943027,1.0495154 -0.006,0.333782 -0.217934,0.614995 -0.459858,0.82477 l -2.621401,2.620608 c 0.896867,0.0042 1.794868,-0.0083 2.691332,0.0064 0.540077,0.04333 0.966486,0.588573 0.881571,1.123724 -0.05431,0.506814 -0.542295,0.907049 -1.048983,0.869295 h -6.143446 l -0.351781,-0.85233 c 1.805487,-1.803067 3.60492,-3.612045 5.414455,-5.4108336 0.192147,-0.1611454 0.444574,-0.2467515 0.695084,-0.2311488 z M 9.5048951,9.993762 c 0.8270869,0 1.4982459,0.6715 1.4982459,1.499004 v 2.99801 c 0,0.827505 -0.671159,1.499004 -1.4982459,1.499004 -0.827088,0 -1.498247,-0.671499 -1.498247,-1.499004 v -2.99801 c 0,-0.827504 0.671159,-1.499003 1.498247,-1.499004 z m 13.5435529,8.991907 c 0.544496,0.03114 1.022812,0.561627 0.93455,1.121602 -0.07178,0.49028 -0.494255,0.816448 -0.745945,1.217014 -1.634901,2.248276 -4.36017,3.647221 -7.139452,3.659521 -2.797545,0.04917 -5.573424,-1.30693 -7.2538839,-3.545028 -0.255166,-0.385752 -0.610742,-0.715909 -0.788328,-1.147045 -0.22238,-0.608701 0.291738,-1.321698 0.938787,-1.303944 0.06324,-0.0026 0.126361,0.0065 0.188607,0.01696 0.555074,0.0863 0.788735,0.656173 1.1146779,1.038913 1.308165,1.860689 3.563537,3.003886 5.838286,2.940762 2.192891,-0.02626 4.325837,-1.168261 5.581867,-2.964084 0.318037,-0.37744 0.550384,-0.932492 1.095607,-1.015591 0.07907,-0.01732 0.157441,-0.02353 0.235227,-0.01908 z" />
</svg>

<script>
  export default {
    components: {
      HoverIcon: "./HoverIcon.svelte"
    }
  };
</script>


<style>
  svg {
    vertical-align: baseline;
    height: 24px;
    width: 24px;
    margin-bottom: 2px;

    cursor: pointer;
  }

  path {
    fill: #b3b3b3;
  }

  svg:hover path {
    fill: #fff;
  }
</style>
