<span on:click="$set({channelId: id})" class="channel-mention">{content.content}</span>

<script>
  import ChannelStore from "../../stores/ChannelStore";
  
  export default {
    methods: {
      channelChange() {
        const got = this.get();
        const channelId = got.id;
        const channel = channelId && ChannelStore.getChannel(channelId);
        this.set({
          content: {
            content: channel ? "#" + channel.name : "<#" + got.id + ">",
            type: "text"
          }
        });
      }
    },
    onstate({current, changed}) {
      if (!this._fired || changed.id) {
        ChannelStore.subscribeComponent(
          current.id,
          this,
          this.channelChange,
          "c"
        );
      }
      this._fired = true;
    }
  };
</script>

<style>
  span.channel-mention {
    background-color: #5670a2;
    color: #fff;
    cursor: pointer;
  }
</style>
