<code>{sanitizeText(content)}</code>

<script>
  import SimpleMarkdown from "simple-markdown";

  export default {
    helpers: {
      sanitizeText: SimpleMarkdown.sanitizeText
    }
  };
</script>

<style>
  code {
    background: #101112;
    border-radius: 0.2em;
    color: #fff;
    padding: 0.1em 0.4em;
  }
</style>
