<a href={sanitizeUrl(target)} {title}><slot /></a>

<script>
  import SimpleMarkdown from "simple-markdown";
  
  export default {
    helpers: {
      sanitizeUrl: SimpleMarkdown.sanitizeUrl
    }
  };
</script>

<style>
  a:hover {
    color: #3594fd;
    text-decoration: underline;
  }

  a {
    color: #3594fd;
    text-decoration: none;
  }
</style>
