<input type="file"
       ref:fileInput
       on:change="modifyFile(event)"
       class="avatar-uploader-input" />

<div class="avatar-upload" on:click="uploadButton()" style={`background-image:url(${url})`}>
</div>

<script>
  export default {
    computed: {
      url({file, iconUrl}) {
        return file ? URL.createObjectURL(file) : iconUrl;
      }
    },
    methods: {
      uploadButton() {
        this.refs.fileInput.click();
      },
      modifyFile() {
        const files = this.refs.fileInput.files;
        // If this is undefined, it's okay
        const file = files[0];
        this.set({
          file
        });
      }
    }
  };
</script>


<style>
  .avatar-upload {
    border-radius: 100%;
    background-color: #101112;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    background-size: cover;
  }

  .avatar-uploader-input {
    display: none;
  }
</style>
