<div class="code-editor">
  <textarea {value} bind:value="value" />
  <Button text="Save" on:click="fire('save', value)" />
</div>

<script>
  import Button from "./Button.svelte";
  
  export default {
    components: {
      Button
    }
  };
</script>

<style>
  textarea {
    height: 80%;
    display: block;
    width: 100%;
    border-radius: 3px;
    resize: none;
    background-color: #151617;
    border: solid 1px #101112;
    color: #fff;
    font-family: mono;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .code-editor {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
  }
</style>
