<TextInput name="Email" value="" bind:value=email />
<TextInput name="Username" value="" bind:value=username />
<PasswordInput name="Password" value="" bind:value=password />
<Button {disabled} on:click="signup({email, username, password})" text="Signup" />

<script>
  import TextInput from "./TextInput.svelte";
  import PasswordInput from "./PasswordInput.svelte";
  import Button from "./Button.svelte";
  import RestClient from "../../js/RestClient";

  export default {
    components: {
      TextInput,
      Button,
      PasswordInput
    },
    methods: {
      async signup({email, username, password}) {
        await RestClient.post("/register", {
          email,
          username,
          password
        });
        const loginRes = await RestClient.post("/login", {
          email,
          password
        });
        await this.store.setToken(loginRes.token);
      }
    }
  };
</script>
