<span class="switch-track" class:on="value" on:click="onChange(value)">
  <span class="switch-thumb" />
</span>

<script>
  export default {
    methods: {
      onChange(value) {
        this.set({
          value: !value
        });
        this.fire("toggle", !value);
      }
    }
  };
</script>

<style>
  .switch-track {
    width: 3em;
    cursor: pointer;
    display: inline-block;
    border-radius: 0.5em;
    height: 1.2em;
    transition: background-color ease-in-out 0.04s;
    background-color: #2f3336;
  }

  .switch-thumb {
    transition: margin-left ease-in-out 0.05s;
    background-color: #fff;
    width: 1.2em;
    border-radius: 100%;
    height: 1.2em;
    margin-left: 0;
    display: inline-block;
  }

  .on {
    background-color: #47ad7f;
  }

  .on .switch-thumb {
    margin-left: calc(3em - 1.2em);
  }
</style>
